@model WebAppProjeto2023_2.Models.Home

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Loja Virtual";
}

<div>
    <h2>Fabricantes</h2>
    <table class="table table-striped">
        <tr>
            <th scope="col">Nome dos Fabricantes</th>
        </tr>
            @foreach (var item in Model.fabricantes)
            {
            <tr>
                <td>
                        @Html.DisplayFor(modelItem => item.Nome)
                </td>
            </tr>
            }
    </table>
</div>

<div>
    <h2>Categorias</h2>
    <table class="table table-striped">
        <tr class="table-primary">
            <th scope="col">Nome das Categorias</th>
        </tr>
        @foreach (var item in Model.categorias)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>

            </tr>
        }
    </table>
</div>

